body{
    background-image: url("background.jpg");
    background-size: cover;
}

.header{
    margin-top: -20;
    padding: 10px;
}

h1{
    color: black;
}

h4{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:400;
    margin-top: 7px;
}

#song{
    font-size: 34px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

canvas{
    border: 5px solid black;
    margin-top: 80px;
    height: 400px;
    width: 500px
}